<div class="container mx-auto">
  <div class="max-w-4xl mx-auto py-16 px-4 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8">
    <h2 class="text-4xl font-extrabold tracking-tight text-gray-900 sm:text-4xl">
      <span class="block mb-8">Liste des régions</span>
    </h2>
     <div class="flex flex-wrap -mx-6">
      <div *ngFor="let region of regions" class="w-full sm:w-1/2 lg:w-1/3 px-6 mb-12">
         <form [formGroup]="addcommentaire"  method="post" name="commentaireForm" id="formId">

          <input type="hidden" formControlName="regionId" [value]="region.id">
          <div class="bg-white rounded-lg shadow-md p-6">
            <div class="mb-4">
              <!-- Image de la région -->
              <img src="https://images.unsplash.com/photo-1531230689007-0b32d7a7c33e?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                   alt="Image de la région" class="w-full rounded-lg shadow-md">
            </div>
            <h2 class="text-lg font-semibold mb-4">{{ region.ville }}</h2>
            <p class="text-gray-600 ">Commentaire : </p>
             <div class="mt-4 mb-4">
              <div class=" mb-4 mx-4 " *ngFor="let commentaire of  commentaires">
                <p>marouan   : {{ commentaire.content }}</p>

                 </div>
              <textarea formControlName="content" class=" w-full border rounded-md px-4 py-2 focus:outline-none focus:border-purple-500" placeholder="Commentaire"> </textarea>
              <button type="submit" (click)="onSubmit()" class="flex items-center justify-center bg-gradient-to-r from-purple-600 to-indigo-600 bg-origin-border px-4 py-3 border border-transparent text-base font-medium rounded-md shadow-sm text-white hover:from-purple-700 hover:to-indigo-700">
                Envoyer
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
